[submodule "files/.vim/pack/themes/start/dracula"]
	path = files/.vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "files/.vim/pack/packages/start/fzf"]
	path = files/.vim/pack/packages/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "files/.vim/pack/packages/start/fzf.vim"]
	path = files/.vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "files/.vim/pack/git-plugins/start/ale"]
	path = files/.vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "files/.vim/pack/git-plugins/start/vim-airline"]
	path = files/.vim/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "files/.vim/pack/git-plugins/start/vim-polyglot"]
	path = files/.vim/pack/git-plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "files/.vim/pack/git-plugins/start/fugitive"]
	path = files/.vim/pack/git-plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
