# This is Git's per-user configuration file.
[user]
    name = Joseph Cocozza
    email = jcocozza47@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[github]
    user = jcocozza
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    layout = LOCAL,MERGED,REMOTE
